.card {
  padding: 1rem;
  width: 230px;
  height: 260px;
  text-align: center;
  flex: 0 0 calc(25% - 0.75rem);
  min-width: 0;
}

.avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: var(--border-width-sm) solid var(--color-primary);
}

.job {
  font-style: italic;
  color: #666;
  margin: 0.5rem 0;
}

.message {
  font-size: 0.9rem;
  color: #333;
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.carousel {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.navButton {
  position: absolute;
  top: 45%;
  background-color: transparent;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.navButton:first-of-type {
  left: 0;
}

.navButton:last-of-type {
  right: 0;
}

.pagination {
  margin-top: 1rem;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active {
  background-color: #333;
}

@media (max-width: 800px) {
  .carousel {
    width: 80%;
  }
  .card {
    flex: 0 0 50%; /* 2 card por linha no tablet */
  }
}

@media (max-width: 700px) {
  .card {
    flex: 0 0 100%; /* 1 card por linha no mobile */
  }
}
