.section {
  padding: 2rem 0;
  background-color: var(--color-base);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0 auto;
  color: white;
}

.dataContainer {
  display: flex;
  flex-direction: column;
}

.dataContainer a {
  color: white;
  text-decoration: none;
}

.dataContainer img {
  height: 72px;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    gap: 2rem;
  }
}
