.headerSecContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.headerSecContainer h4 {
  color: var(--color-secondary);
}

.headerSecContainer h2 {
  margin-bottom: 1rem;
  color: var(--color-base);
}

.headerSecContainer hr {
  width: 100%;
  max-width: 280px;
  height: 4px;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  background-color: var(--color-secondary);
  border: none;
}

.headerSecContainer.white,
.headerSecContainer.white h2,
.headerSecContainer.white p,
.headerSecContainer.white h4 {
  color: white;
}

.headerSecContainer.white hr {
  background-color: white;
}
