.SectionHeader {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.SectionHeader h4 {
  color: var(--color-secondary);
}

hr {
  width: 350px;
  height: var(--border-width-sm);
  background-color: var(--color-secondary);
  border: none;
  margin-bottom: 0.5em;
}

.hideLine {
  display: none;
}

.left {
  align-items: start;
  text-align: left;
}

.center {
  align-items: center;
  text-align: center;
}

@media (max-width: 700px) {
  .SectionHeader {
    align-items: center;
    text-align: center;
  }
}
